
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease;
}
.fade-enter, 
.fade-leave-active {
  opacity: 0;
}

/*
.slide-from-top-enter-active,
.slide-from-top-leave-active {
  transition: all .2s ease;
  margin-top: 100px;
}
.slide-from-top-enter, 
.slide-from-top-leave-active {
  margin-top: 0;
}
*/

