html {
  color: #222;
  font-size: 1em;
  line-height: 1.2;
}
body {
  font-family: 'Dosis', sans-serif;
  background-color: $bg;
  margin: 0;
  margin-top: 6rem;
  color: $text-color;
  overflow-y: scroll;

  a {
    text-decoration: none;
  }
  .header {
    //box-shadow: $box-shadow;
    //border-bottom: 1px solid $side-border-color;

    .inner {
      max-width: 70rem;
      border-bottom: 4px solid black;
    }
  }
  .view {
    margin: 0 auto;
    position: relative;
    overflow: auto;

    //max-width: 68rem;
    // padding: 0 1rem;
    padding: 0;
    //border-left: 1px solid $side-border-color;
    h1 {
      font-weight: 300;
      margin: 1rem auto;
    }
    p {
      margin: 1rem auto;
      font-size: 1.4rem;
    }
    .max-width-desktop {
      max-width: 68rem;
      margin-right: auto;
      margin-left: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  

}



@media (max-width: $mobile-size) {
  html {
    color: #222;
    font-size: 1.2em;
    line-height: 1.2;

    .view {
      margin: 0 auto;
      position: relative;
      overflow: auto;
      max-width: 68rem;
      // padding: 0 1rem;
      padding: 0;
      border: none;
    }

    .max-width-desktop {
      max-width: 100%;
    }

  }
}