$mobile-size: 600px;

$nav-bg: #fafafa; // transparent; // #f1ed0d;
$nav-bg-hover: transparent; // #3c3c3c;
$nav-link-color: #3c3c3c;
$nav-link-color-hover: #2c2c2c;
$nav-border-color: pink;

$side-border-color: #f5f38f; // #f1ed0d;
$bg: #fafafa;
$text-color: #3c3c3c;
$link-color: red;
$link-color-hover: purple;
$border-color: green;

$box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .4);
